<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="section">
        <form method="post">
            <input  type="text" name="nombre"  placeholder="ingrese su nombre" required>

            <input  type="email" name="email"  placeholder="ingrese su email" required>
            <button type="submit">registrar usuario</button>
        




    </form>
        <table>
            <tr>  <th>id usuario </th>  <th> nombre del usuario </th>  <th> correo del usuario  </th>  </tr>
            {% for persona in usuarios %}
                <tr>
                    <td> {{persona.id}} </td>
                    <td> {{persona.nombre}} </td>
                    <td> {{persona.correo}} </td>
                    <td> <button class="botonborrar"> <a href="/?borrar={{persona.id }}">Eliminar</a></button></td>
                </tr>

            {% endfor %}
        </table>

     

</div>

</body>
</html>